body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.no-mark {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.display-block {
  display: block;
}

.stretchable {
  width: 100%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button--primary {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  max-width: 1200px;
  min-width: 320px;
}

.section__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.section--vert-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: flex;
  align-items: center;
}

.page-header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 15px;
  border: none;
  background-color: transparent;
}

.page-header__nav {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
}

.page-header__menu {
  display: none;
}

.page-header__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link--current, .page-header__link:hover, .page-header__link:focus {
  color: #2196f3;
  fill: currentColor;
}

.page-header__item:not(:last-child) {
  margin-bottom: 32px;
}

.page-header__contacts {
  display: none;
}

.page-header__addresses {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}

.page-header__addresses .page-header__item:not(:last-child) {
  margin-bottom: 0;
  margin-top: 32px;
}

.page-header__link--tel {
  font-size: 34px;
  color: #2196f3;
}

.page-header__link--email {
  font-size: 24px;
  color: #757575;
}

.page-header__address-icon {
  display: none;
}

.page-header__social-links {
  display: flex;
}

.page-header__social-links:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.page-header__social-links-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.page-header__social-links-item:not(:last-child) .page-header__social-link {
  padding-right: 10px;
}

.page-header__social-links-item:nth-child(n + 2) .page-header__social-link {
  padding-left: 10px;
}

.page-header__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.page-header__icon-close {
  opacity: 0;
}

.page-header__icon-menu, .page-header__icon-close {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu-button.is-open .page-header__icon-close {
  opacity: 1;
}

.page-header__menu-button.is-open .page-header__icon-menu {
  opacity: 0;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__container.is-open {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
}

.page-header__container.is-open .page-header__menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.page-header__container.is-open .page-header__menu {
  display: block;
}

.page-header__container.is-open .page-header__contacts {
  display: block;
}

.page-header__container.is-open .page-header__logo {
  display: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
}

.logo__web {
  color: #2196f3;
}

.hero {
  height: 400px;
  /* calc(100vh - 80px) */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}

.hero__title {
  display: block;
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
}

.features {
  padding-top: 60px;
}

.features__item {
  width: 100%;
}

.features__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.occupations {
  display: none;
}

.occupations__list {
  display: flex;
}

.occupations__item:not(:last-child) {
  margin-right: 30px;
}

.occupations__link {
  display: block;
  position: relative;
}

.occupations__comment {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-member {
  padding-bottom: 24px;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__fio {
  margin-top: 30px;
  font-weight: 500;
  font-size: inherit;
}

.team-member__position {
  margin-top: 10px;
  color: #757575;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-links__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.social-links__link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  fill: #afb1b8;
  background-color: #ffffff;
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.clients__item {
  height: 92px;
  width: calc((100% - 30px * 1) / 2);
}

.clients__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.clients__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.page-footer, .page-footer__link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer__addresses {
  font-style: normal;
}

.page-footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__link--secondary {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__wrapper {
  align-items: baseline;
  text-align: center;
}

.page-footer__contacts, .page-footer__social-networks {
  margin-bottom: 60px;
}

.page-footer__social-networks-title, .page-footer__subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.page-footer__social-links {
  margin-top: 20px;
}

.page-footer__social-link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__addresses .link:hover,
.page-footer__addresses .link:focus, .page-footer__link:hover, .page-footer__link:focus {
  color: #2196f3;
}

.page-footer__subscription {
  display: block;
}

.page-footer__subscription-email {
  display: block;
  width: 100%;
  height: 50px;
  min-width: 150px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: currentColor;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.page-footer__submit-button {
  padding: 10px 28px;
  height: 50px;
}

.page-footer__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 30px);
  padding: 40px;
  color: #757575;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196f3;
}

.modal__icon-close {
  display: block;
  width: 11px;
  height: 11px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.form-field__wrapper {
  position: relative;
}

.form-field__input {
  width: 100%;
  height: 40px;
  color: inherit;
  padding: 8px 8px 8px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:focus, .form-field__input:hover {
  border-color: #2196f3;
}

.form-field__input--multiline {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form-field__input--extra-margin {
  margin-bottom: 20px;
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: #2196f3;
}

.form-field--checkbox {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 12px;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .tool-tip {
  opacity: 1;
}

.form-field--checkbox:focus-within {
  outline: 1px dotted #2196f3;
}

.form-field__check {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: white;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:checked + .form-field__check {
  fill: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  border-width: 1px;
}

.request-form__agreement-link {
  text-decoration: underline;
  color: #2196f3;
}

.request-form__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.request-form__submit:hover, .request-form__submit:focus {
  background-color: #188ce8;
}

.tool-tip {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  transform: translateY(-10px);
  left: 10px;
  padding: 10px;
  font-size: 12px;
  background-color: #f5f4fa;
  border: 1px solid #212121;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px grey;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.tool-tip::before, .tool-tip::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #212121;
  z-index: -1;
}

.tool-tip::after {
  border-top: 10px solid #f5f4fa;
  bottom: -19px;
}

.tool-tip--right {
  right: 10px;
  left: unset;
}

.tool-tip--right::before, .tool-tip--right::after {
  right: 20px;
  left: unset;
}

.support {
  position: fixed;
  bottom: 24px;
  left: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #2196f3;
  box-shadow: 2px 2px 4px 0px #21212180, inset 0px 0px 4px 0px #21212180;
  background-image: url("../images/support.svg");
  background-color: #fff;
  animation: pulse 1500ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite both;
}

.support:hover {
  animation: none;
}

.support:hover .support__tool-tip {
  opacity: 1;
  transform: scale(1) translateY(0);
  right: 0;
}

.support__tool-tip {
  bottom: 75px;
  left: 0px;
  min-width: 200px;
  padding: 10px;
  font-size: 12px;
  transform: scale(0.5) translate(-25%, 100%);
  background-color: #f5f4fa;
  border: 1px solid #212121;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px grey;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.support__tool-tip--left {
  right: 0px;
  left: unset;
  transform: scale(0.5) translate(25%, 100%);
}

.support__tool-tip--left::before, .support__tool-tip--left::after {
  right: 20px;
  left: unset;
}

.support--right {
  right: 24px;
  left: unset;
}

.support__link {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */