:root {
  --site-background-color: #ffffff;
  --primary-background-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --selected-text-color: #ffffff;
  --address-text-color: #ffffff;
  --secondary-address-text-color: rgba(255, 255, 255, 0.6);
  --current-text-color: var(--primary-background-color);
  --line-color: #ececec;
  --card-border-color: #eeeeee;
  --button-hover-bg-color: #188ce8;
  --hero-bg-color: #c4c4c4;
  --social-primary-fill: #afb1b8;
  --transition-style: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grid-column-width: 70px;
  --grid-gutter-width: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--site-background-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.no-mark {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.display-block {
  display: block;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--line-color);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.page-header__nav,
.page-header__addresses {
  display: flex;
  align-items: center;
}

.page-header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__web {
  color: var(--primary-background-color);
}

.page-header__link {
  color: var(--primary-text-color);
  transition: color var(--transition-style), fill var(--transition-style);
}

.page-header__link--address {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  display: flex;
  align-items: center;
}
.page-header__address-icon {
  margin-right: 10px;
}

.page-header__addresses-icon--email {
  width: 16px;
  height: 12px;
}

.page-header__addresses-icon--tel {
  width: 10px;
  height: 16px;
}

.page-header__link--current,
.page-header__link:hover,
.page-header__link:focus {
  color: var(--primary-background-color);
  fill: currentColor;
}

.page-header__item {
  position: relative;
}

.page-header__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--current-text-color);
  border-radius: 2px;
}

.page-header__menu {
  display: flex;
}

.section {
  min-width: 1200px;
}

.section--vert-paddings {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Stuido page */

.hero__title {
  display: block;
  margin: 0 auto;
  width: 640px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--site-background-color);
  text-transform: uppercase;
}

.hero {
  height: 600px; /* calc(100vh - 80px) */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  transition: background-color var(--transition-style), color var(--transition-style),
    box-shadow var(--transition-style);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-bg-color);
}

.button--primary {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__button {
  padding: 10px 32px;
}

/* Features */
.features {
  padding-top: 89px;
  padding-bottom: 0;
}

.features__list {
  display: flex;
}

.features__item {
  width: 100%;
}

.features__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Occupations */
.occupations {
  /* text-align: center; */
}

.occupations__list {
  display: flex;
}

.occupations__item:not(:last-child) {
  margin-right: 30px;
}

.occupations__link {
  display: block;
  position: relative;
}

.occupations__comment {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--address-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
.team {
  background-color: var(--secondary-background-color);
}

.team__list {
  display: flex;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  padding-bottom: 30px;
  background-color: var(--site-background-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__fio {
  margin-top: 30px;
  font-weight: 500;
  font-size: inherit;
}

.team-member__position {
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-links__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.social-links__link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--transition-style), fill var(--transition-style);
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  fill: var(--social-primary-fill);
  background-color: var(--site-background-color);
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--primary-background-color);
  fill: var(--site-background-color);
}

/* Clients */

.clients {
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.clients__item {
  height: 92px;
  width: 170px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-primary-fill);
  border: 1px solid var(--social-primary-fill);
  border-radius: 4px;
  transition: background-color var(--transition-style), fill var(--transition-style),
    border var(--transition-style);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--primary-background-color);
  border-color: var(--primary-background-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

/* Portfolio section */

/* Filters */
.portfolio__filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  padding: 6px 22px;
}

.portfolio__button--primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: var(--address-text-color);
  background-color: var(--primary-background-color);
  /* opacity: 0; */
  transition: transform var(--transition-style);
}

.portfolio__link:hover .portfolio__description,
.portfolio__link:focus .portfolio__description {
  transform: translateY(0%);
}

.portfolio__link {
  color: inherit;
  display: inline-block;
}

.portfolio__header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__title {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Footer */
.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer,
.page-footer__link {
  color: var(--address-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.page-footer__wrapper {
  display: flex;
  align-items: baseline;
}

.page-footer__contacts,
.page-footer__social-networks {
  width: 25%;
}

.page-footer__addresses {
  font-style: normal;
}

.page-footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__link {
  transition: color var(--transition-style);
}

.page-footer__logo {
  margin-bottom: 20px;
  color: var(--address-text-color);
}

.page-footer__social-networks-title,
.page-footer__subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.social-links--left-justified {
  justify-content: flex-start;
}

.page-footer__social-links,
.page-footer__subscription-form {
  display: flex;
  margin-top: 20px;
}

.social-links__link--alternate {
  fill: var(--site-background-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__link--secondary {
  color: var(--secondary-address-text-color);
}

.page-footer__addresses .link:hover,
.page-footer__addresses .link:focus,
.page-footer__link:hover,
.page-footer__link:focus {
  color: var(--primary-background-color);
}

.page-footer__subscription {
  width: 50%;
}

.page-footer__subscription-email {
  flex: 1;
  height: 50px;
  min-width: 150px;
  padding: 15px 16px;
  margin-right: 12px;
  color: currentColor;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.page-footer__submit-button {
  min-width: 200px;
}

.page-footer__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity var(--transition-style), visibility var(--transition-style);
  z-index: 1;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  color: var(--secondary-text-color);
  background-color: var(--address-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity var(--transition-style), transform var(--transition-style);
}

.modal__close-button {
  position: absolute;
  display: block;
  padding: 5px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-style);
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--primary-background-color);
}

.modal__icon-close {
  display: block;
  width: 18px;
  height: 18px;
}

.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}

.form-field__wrapper {
  position: relative;
}

.form-field__input {
  width: 100%;
  height: 40px;
  color: inherit;
  padding: 8px 8px 8px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-style);
}

.form-field__input--multiline {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form-field__input--extra-margin {
  margin-bottom: 20px;
}

.form-field--checkbox {
  display: flex;
  align-items: center;
  padding-left: 37px;
  height: 24px;
  margin-bottom: 30px;
  position: relative;
}

.form-field__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:focus,
.form-field__input:hover {
  border-color: var(--primary-background-color);
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: var(--primary-background-color);
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  transition: fill var(--transition-style);
}

.form-field:hover .tool-tip {
  opacity: 1;
}

.form-field--checkbox:focus-within {
  outline: 1px dotted var(--primary-background-color);
}

.form-field__check {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: white;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: fill var(--transition-style), background var(--transition-style),
    border-color var(--transition-style);
}

.form-field__input:checked + .form-field__check {
  fill: var(--address-text-color);
  background-color: var(--primary-background-color);
  border-color: var(--primary-background-color);
  border-width: 1px;
}

.request-form__agreement-link {
  color: var(--primary-background-color);
}
.request-form__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  transition: background-color var(--transition-style);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.request-form__submit:hover,
.request-form__submit:focus {
  background-color: var(--button-hover-bg-color);
}

/* Tool-tip */

.tool-tip {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  transform: translateY(-10px);
  left: 10px;
  padding: 10px;
  font-size: 12px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px grey;
  transition: opacity var(--transition-style) 1000ms;
}

.tool-tip--right {
  right: 10px;
  left: unset;
}

.tool-tip::before,
.tool-tip::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid var(--primary-text-color);
  z-index: -1;
}
.tool-tip::after {
  border-top: 10px solid var(--secondary-background-color);
  bottom: -19px;
}

.tool-tip--right::before,
.tool-tip--right::after {
  right: 20px;
  left: unset;
}

/* Support */

.support {
  position: fixed;
  bottom: 24px;
  left: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #2196f3;
  box-shadow: 2px 2px 4px 0px #21212180, inset 0px 0px 4px 0px #21212180;
  background-image: url('../images/support.svg');
  background-color: #fff;
  animation: pulse 1500ms linear 0s infinite both;
}

.support--right {
  right: 24px;
  left: unset;
}

.support__tool-tip {
  bottom: 75px;
  left: 0px;
  min-width: 200px;
  padding: 10px;
  font-size: 12px;
  transform: scale(0.5) translate(-25%, 100%);
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px grey;
  transition: opacity var(--transition-style) 100ms, transform var(--transition-style) 100ms;
}

.support__tool-tip--left {
  right: 0px;
  left: unset;
  transform: scale(0.5) translate(25%, 100%);
}

.support__tool-tip--left::before,
.support__tool-tip--left::after {
  right: 20px;
  left: unset;
}

.support:hover .support__tool-tip {
  opacity: 1;
  transform: scale(1) translateY(0);
  right: 0;
}

.support:hover {
  animation: none;
}

.support__link {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}
