.features {
  // padding-top: 89px; desktop
  padding-top: 60px;
  // padding-bottom: 0;

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 89px;
    padding-bottom: 0;
  }

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 30px * 3) / 4);
      &:not(:nth-child(4n)) {
        margin-right: 30px;
      }
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: getColor('secondary-background-color');
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  // &__item:not(:last-child) { DESKTOP
  //   margin-right: 30px;
  // }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
    color: getColor('secondary-text-color');
  }
}
