.page-header {
  position: relative;
  border-bottom: 1px solid $line-color;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 10px;
    top: 15px;
    border: none;
    background-color: transparent;

    @include breakpointFrom(tablet) {
      display: none;
    }
  }

  &__nav {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    @include breakpointFrom(tablet) {
      min-height: 80px;
    }
  }

  &__menu {
    display: none;
    @include breakpointFrom(tablet) {
      display: flex;
      margin-left: 88px;
    }

    @include breakpointFrom(desktop) {
      margin-left: 93px;
    }
    // font-size: 40px;
    // font-weight: 500;
  }

  &__item {
    display: flex;

    @include breakpointTo(tablet) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    @include breakpointFrom(tablet) {
      position: relative;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  &__address-item {
    @include breakpointTo(tablet) {
      &:nth-child(n + 2) {
        margin-bottom: 32px;
      }
    }
    // @include breakpointBetween(tablet, desktop) {}
    //   &:not(:last-child) {
    //     // margin-bottom: 10px;
    //   }
    // }

    @include breakpointFrom(desktop) {
      display: flex;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    display: block;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: makeTransition((color, fill));

    @include breakpointFrom(tablet) {
      display: flex;
      align-items: center;
      font-size: 14px;

      &--current::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $current-text-color;
        border-radius: 2px;
      }
    }

    &--current,
    &:hover,
    &:focus {
      color: $current-text-color;
      fill: currentColor;
    }
  }

  &__contacts {
    display: none;
    @include breakpointFrom(tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__addresses {
    display: flex;
    flex-direction: column-reverse;
    @include breakpointTo(tablet) {
      margin-bottom: 64px;
    }

    @include breakpointFrom(tablet) {
      flex-direction: column;
      justify-content: center;
    }

    @include breakpointFrom(desktop) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__link--tel {
    font-size: 34px;
    color: $current-text-color;
  }

  &__link--email {
    font-size: 24px;
    color: $secondary-text-color;
  }

  &__link--address {
    @include breakpointFrom(tablet) {
      font-size: 12px;
      color: $secondary-text-color;
      fill: currentColor;

      @include breakpointTo(desktop) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    @include breakpointFrom(desktop) {
      font-size: 14px;
    }
  }

  &__address-icon {
    display: none;
    margin-right: 10px;
    @include breakpointFrom(tablet) {
      display: block;
    }
  }

  $delimter-color: rgba(33, 33, 33, 0.2);

  &__social-links {
    display: flex;
    @include breakpointFrom(tablet) {
      display: none;
    }

    &:not(:last-child) {
      border-right: 1px solid $delimter-color;
    }
  }

  &__social-links-item {
    &:not(:last-child) {
      border-right: 1px solid $delimter-color;
      .page-header__social-link {
        padding-right: 10px;
      }
    }
    &:nth-child(n + 2) {
      .page-header__social-link {
        padding-left: 10px;
      }
    }
  }

  &__social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $primary-background-color;
  }

  &__icon-close {
    opacity: 0;
  }

  &__icon-menu,
  &__icon-close {
    transition: makeTransition((opacity));
  }

  &__menu-button.is-open {
    .page-header__icon-close {
      opacity: 1;
    }

    .page-header__icon-menu {
      opacity: 0;
    }
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: makeTransition((all));

  @include breakpointFrom(tablet) {
    flex-direction: row;
  }
  &.is-open {
    @include breakpointTo(tablet) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      padding: 48px 40px;
      background-color: $site-background-color;
      z-index: 999;

      .page-header__menu-button {
        position: absolute;
        top: 10px;
        right: 15px;
      }

      .page-header__menu {
        display: block;
      }
      .page-header__contacts {
        display: block;
      }

      .page-header__logo {
        display: none;
      }
    }
  }
}
