$bg-overlay: rgba(47, 48, 58, 0.4);

.hero {
  height: 400px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: $hero-bg-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-mobile.jpg');

  @include breakpointDPR(2) {
    background-image: linear-gradient($bg-overlay, $bg-overlay), url('../images/hero-mobile@2x.jpg');
  }

  @include breakpointFrom(tablet) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tablet.jpg');

    @include breakpointDPR(2) {
      background-image: linear-gradient($bg-overlay, $bg-overlay),
        url('../images/hero-tablet@2x.jpg');
    }
  }

  @include breakpointFrom(desktop) {
    height: calc(100vh - 80px);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desktop.jpg');

    @include breakpointDPR(2) {
      background-image: linear-gradient($bg-overlay, $bg-overlay),
        url('../images/hero-desktop@2x.jpg');
    }
  }

  &__title {
    display: block;
    margin: 0 auto 30px;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: $site-background-color;
    text-transform: uppercase;

    @include breakpointFrom(desktop) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 620px;
    }
  }

  &__button {
    padding: 10px 32px;
  }
}
