body {
  font-family: $primary-font;
  color: getColor('primary-text-color');
  background-color: getColor('site-background-color');
  letter-spacing: 0.03em;

  &.no-scroll {
    // TODO: disable scrolling only when modal is shown
    @media screen and (max-width: 767px) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.no-mark {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.display-block {
  display: block;
}

.stretchable {
  width: 100%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
