body {
  font-family: $primary-font;
  color: $primary-text-color;
  background-color: $site-background-color;
  letter-spacing: 0.03em;

  &.no-scroll {
    // TODO: disable scrolling only when modal is shown
    @media screen and (max-width: 767px) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.no-mark {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.display-block {
  display: block;
}

.stretchable {
  width: 100%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 4px;
  color: $primary-text-color;
  background-color: $secondary-background-color;
  cursor: pointer;
  transition: makeTransition((background-color, color, box-shadow));

  &:hover,
  &:focus {
    background-color: $button-hover-bg-color;
  }

  &--primary {
    color: $selected-text-color;
    background-color: $primary-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.section {
  min-width: 320px;

  &__header {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &--vert-paddings {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
